body{
    background-image: url(image-tamagotchi/chambre.jpg);
    background-size: 100% , 100%;
    padding: 0;
}

img{
    margin-left: 472px;
    margin-top: 271px;
    height: 416px;
}

form{
    background-color: aqua;
    border-radius: 15px;
    border: 1px solid;
    opacity: 80%;
    text-align: center;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 473PX;
    margin-bottom: 114px;
    margin-top: 352px;
}
